<ion-header>
    <ion-toolbar>
        <ion-title>Create An Account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="form-content ion-padding">
    <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister()">

        <!-- <h5>Account Information</h5> -->

        <ion-item class="ion-no-padding">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message"
                    *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item class="ion-no-padding">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message"
                    *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <!-- <h5>Basic Information</h5>

        <ion-item class="ion-no-padding">
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.firstName">
                <div class="error-message"
                    *ngIf="validations_form.get('firstName').hasError(validation.type) && (validations_form.get('firstName').dirty || validations_form.get('firstName').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item class="ion-no-padding">
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.lastName">
                <div class="error-message"
                    *ngIf="validations_form.get('lastName').hasError(validation.type) && (validations_form.get('lastName').dirty || validations_form.get('lastName').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>


        <ion-item class="ion-no-padding">
            <ion-label position="floating">Middle Initial</ion-label>
            <ion-input type="text" formControlName="middleInitial" max-length="1"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.middleInitial">
                <div class="error-message"
                    *ngIf="validations_form.get('middleInitial').hasError(validation.type) && (validations_form.get('middleInitial').dirty || validations_form.get('middleInitial').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <h5>Contact Information</h5>

        <ion-item class="ion-no-padding">
            <ion-label position="floating">Address</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.address">
                <div class="error-message"
                    *ngIf="validations_form.get('address').hasError(validation.type) && (validations_form.get('address').dirty || validations_form.get('address').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item class="ion-no-padding">
            <ion-label position="floating">Mobile Number</ion-label>
            <ion-input type="text" maxlength="11" formControlName="mobileNumber"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.mobileNumber">
                <div class="error-message"
                    *ngIf="validations_form.get('mobileNumber').hasError(validation.type) && (validations_form.get('mobileNumber').dirty || validations_form.get('mobileNumber').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>


        <h5>Income</h5>

        <ion-item class="ion-no-padding">
            <ion-label position="floating">Monthly Income (₱ Peso)</ion-label>
            <ion-input type="number" formControlName="incomeMonthly"
                (input)="onIncomeMonthlyChange($event.target.value)">
            </ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.incomeMonthly">
                <div class="error-message"
                    *ngIf="validations_form.get('incomeMonthly').hasError(validation.type) && (validations_form.get('incomeMonthly').dirty || validations_form.get('incomeMonthly').touched)">
                    {{ validation.message}}
                </div>
            </ng-container>
        </div>

        <ion-label style="font-size: 0.75rem; margin-bottom: 10px;">Proof of Income (Payslip, Electric Bill, ID, etc.)
        </ion-label>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.incomeProof">
                <div class="error-message"
                    *ngIf="validations_form.get('incomeProof').hasError(validation.type) && (validations_form.get('incomeProof').dirty || validations_form.get('incomeProof').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <app-multi-file-upload></app-multi-file-upload>



        <h5>Guarantor Information</h5>

        <ion-item class="ion-no-padding">
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" formControlName="guarantorName"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.guarantorName">
                <div class="error-message"
                    *ngIf="validations_form.get('guarantorName').hasError(validation.type) && (validations_form.get('guarantorName').dirty || validations_form.get('guarantorName').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>


        <ion-item class="ion-no-padding">
            <ion-label position="floating">Relation</ion-label>
            <ion-input type="text" formControlName="guarantorRelation"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.guarantorRelation">
                <div class="error-message"
                    *ngIf="validations_form.get('guarantorRelation').hasError(validation.type) && (validations_form.get('guarantorRelation').dirty || validations_form.get('guarantorRelation').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>


        <ion-item class="ion-no-padding">
            <ion-label position="floating">Mobile Number</ion-label>
            <ion-input type="text" maxlength="11" formControlName="guarantorMobile"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.guarantorMobile">
                <div class="error-message"
                    *ngIf="validations_form.get('guarantorMobile').hasError(validation.type) && (validations_form.get('guarantorMobile').dirty || validations_form.get('guarantorMobile').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>


 -->



        <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Register
        </ion-button>
        <!-- <label class="error-message">{{errorMessage}}</label>
        <label class="success-message">{{successMessage}}</label> -->
    </form>
    <!-- <p class="go-to-login">Already have an account? <a (click)="goLoginPage()">Try to Log In.</a></p> -->

</ion-content>