<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Map</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div #map style="width:100%;height:100%"></div>
</ion-content>