<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->
<div class="content">
    <div class="background">
        <img src="../../../assets/images/bg_map-min.jpg" alt="">
    </div>
    <div class="form">
        <img class="logo" src="../../../assets/images/logo.png" alt="">
        <div class="form-container">
            <ion-text color="dark">
                <h1>Person Tracker App</h1>
                <h6>for Kapayapaan Ville, Canlubang, Calamba</h6>
            </ion-text>

            <form [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">
                <ion-input type="text" formControlName="email" placeholder="email"></ion-input>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.email">
                        <div class="error-message"
                            *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
                <ion-input type="password" formControlName="password" placeholder="password"></ion-input>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password">
                        <div class="error-message"
                            *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
                <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Log In
                </ion-button>
                <label class="error-message">{{errorMessage}}</label>
            </form>
            <div class="divider">

            </div>


            <form [formGroup]="validations_form_2" (ngSubmit)="trackMe()">
                <ion-input type="text" formControlName="userId" placeholder="id"></ion-input>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages_2.userId">
                        <div class="error-message"
                            *ngIf="validations_form_2.get('userId').hasError(validation.type) && (validations_form_2.get('userId').dirty || validations_form_2.get('userId').touched)">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
                <ion-button class="submit-btn" expand="block" type="submit" color="success" [disabled]="!validations_form_2.valid">Track Me
                </ion-button>
                <label class="error-message">{{errorMessage}}</label>
            </form>
            <!-- <ion-input placeholder="Username"></ion-input>
            <ion-input placeholder="Password"></ion-input>
            <ion-button expand="block" (click)="tryLogin()">Login</ion-button> -->
        </div>
    </div>
    <div class="footer">
        <ion-button size="small" expand="full" fill="clear" (click)="signup()">Register</ion-button>
    </div>
</div>