.content {
    height: 100%;
    width: 100%;
    .background {
        height: 100%;
        width: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            filter: blur(2px) brightness(105%) opacity(80%);
        }
    }
    .form {
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-end;
        img {   
            margin-left: 50%;
            transform: translate(-50%, 0);
            margin-top: 50px;
            margin-bottom: 50px;
            height: 120px;
            // width: 100px;
        }
        .form-container {
            padding: 20px 15px;
            padding-top: 10px;
            margin: 0 15px;
            background-color: rgba($color: white, $alpha: 0.5);
        }
    }
    .footer {
        background-color: rgba($color: white, $alpha: 0.5);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
    }
}

h6 {
    margin-top: 0;
    font-weight: 200;
    font-style: italic;;
    margin-bottom:0 25x;
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.divider {
    margin: 10px 0;
    border-bottom: 1px solid gray;
}