<ion-app>
    <ion-menu side="start" menuId="client" contentId="main-content">
        <ion-content>
            <ion-list>
                <ion-item (click)="goTo('map')">Map</ion-item>
                <ion-item (click)="goTo('logout')">Logout</ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>


    <ion-menu side="start" menuId="admin" contentId="main-content">
        <ion-content>
            <ion-list>
                <ion-item (click)="goTo('admin-map')">Admin Map</ion-item>
                <ion-item (click)="goTo('history')">History</ion-item>
                <ion-item (click)="goTo('logout')">Logout</ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>