<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>History</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div #map style="width:100%;height:100%"></div>
    <div class="time-list">
        <div class="time-item" [class.active]="activeTime == i" *ngFor="let time of personList[active]?.locationsSorted; let i = index" (click)="focusTo(i)"><span>{{time[0] | date: 'MM/dd/yy, HH:mm:ss'}}</span></div>
    </div>
    <div class="list">
        <div class="item" [class.active]="active == i" *ngFor="let person of personList; let i = index" (click)="changeActive(i)">{{person.name}} <span style="font-size: 10px;">({{person.id}})</span></div>
    </div>
</ion-content>
