.list {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 10px 10px;
    background-color: rgba($color: white, $alpha: 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    .item {
        height: 40px;
        padding: 10px 20px;
        margin-right: 10px;
        background: white;
        border-radius: 25px;
        &.active {
            background: var(--ion-color-primary);
            color: white;
        }
    }
    .add-button {
        background: var(--ion-color-primary);
        color: white;
        height: 40px;
        width: 40px;
        // padding: 0;
        margin-right: 20px;
        border-radius: 50%;
        ion-icon {
            font-size: 30px;
        }
    }
}

.time-list {
    position: absolute;
    width: 90px;
    background: rgba($color: white, $alpha: 0.5);
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 100px;
    .time-item {
        height: 40px;
        width: 80px;
        padding: 5px 10px;
        margin: 3px auto;
        background: white;
        border-radius: 25px;
        font-size: 13px;
        &.active {
            background: var(--ion-color-primary);
            color: white;
        }
    }
}