.list {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 10px 10px;
    background-color: rgba($color: white, $alpha: 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    .item {
        height: 40px;
        padding: 10px 20px;
        margin-right: 10px;
        background: white;
        border-radius: 25px;
    }
    .add-button {
        background: var(--ion-color-primary);
        color: white;
        height: 40px;
        width: 40px;
        // padding: 0;
        margin-right: 20px;
        border-radius: 50%;
        ion-icon {
            font-size: 30px;
        }
    }
}