<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Admin Map</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div #map style="width:100%;height:100%"></div>
    <div class="list">
        <div class="item" *ngFor="let person of personList" (click)="focusTo(person)">{{person.name}} <span style="font-size: 10px;">({{person.id}})</span></div>
        <button class="add-button" (click)="add()">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </button>
    </div>
</ion-content>